@media screen and (max-width: 991px) {
  form.input-tag {
    width: 11em;
  }
  #navbarColor03 {
    display: contents;
  }
  div h1{
    margin-left: 0.2em;
  }
}

.navbar {
  margin: 2em;
}

h1 {
  margin-left: 1em;
  margin-right: 0.5em;
}
